<div ng-include="'components/navbar/navbar.html'"></div>
<toast></toast>
<div class="container my-polls">
  <h1>{{user.name}}'s Polls</h1>
  <div ng-repeat="poll in polls" class="well" ng-init="display=false; confirm=false">
    <h3 style="display:inline-block; margin:6px">{{poll.name}}</h3>
    <button class="btn btn-danger pull-right" ng-click="deletePoll(poll._id)">Delete</button>
    <button class="btn btn-default pull-right" ng-click="display=display===true?false:true">Details</button>
    <div class="details" ng-show="display">
      <h6>{{poll.info}}</h6>
      <div ng-repeat="choice in poll.choices" class="progress votes" ng-init="max = getMax(poll)"  ng-hide="choice.choice === ''">
        <div class="progress-bar vote-count" style="width:{{choice.votes*100/max}}%; background-color:{{colors[$index]}}">{{choice.choice}}: {{choice.votes}}</div>
      </div>
    </div>
  </div>
</div>


<div class="container well">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>